<a ui-sref="admin.add-slider-image" class="btn btn-link pull-right margin-top-10">Add New Slider</a>
<div class="margin-top-10 clearfix">
    <h3>Slider List</h3>
</div>
<div class="images-container margin-top-10">
    <div ng-repeat="image in allSliderImages" class="col-sm-3 margin-top-10">
        <div class="slider-image">
            <div class="profile-img-container">
                <img style="width:100%; height:200px;" ng-src="{{image ? image.url : ''}}" alt="Slider Image" class="img-thumbnail img-responsive"
                />
                <div>
                    <a title="Remove Image" ng-click="removeImage(image)" class="fa fa-remove fa-3x"></a>
                    <!-- <span class="imageSliderDescription">{{image.title}}
                        <br> {{image.description}}</span> -->
                </div>
                <span class="imageSliderDescription">
                    <b>{{image.title}}</b>
                    <br> {{image.description}}</span>
            </div>
        </div>
    </div>
</div>