<h2>
    <span ng-hide='!isEdit()' translate="EditCategory"></span>
    <span ng-hide='isEdit()' translate="AddCategory"></span>
</h2>
<form ng-app="fileUpload" name="imageForm" class="col-md-4" novalidate>

    <div class="form-group">
        <h3>
            <span translate="Title"></span>
        </h3>
        <input name="title" type="text" class="form-control" placeholder="title" ng-model="formData.title" ng-change="updateField('title')" required value="">
        <label ng-if="titleError" class="asterisk"><span translate="enter_title"></span></label>
    </div>
    <div class="form-group">
        <h3>
            <span translate="Title"></span>(ch)</h3>
        <input name="title_ch" type="text" class="form-control" placeholder="title" ng-model="formData.title_ch" ng-change="updateField('title_ch')" required value="">
        <label ng-if="titleChError" class="asterisk"><span translate="enter_title"></span></label>
    </div>

    <div class="form-group">
        <h3>
            <span translate="Category_Image"></span>
        </h3>
        <!-- {{ImageSrc}} -->
        <div ng-show="ImageSrc" class="category-img">
            <img width="150" height="150" ng-src="{{ImageSrc}}" style="margin-bottom: 10px;" />
        </div>
        <label class="btn btn-default">
            <span translate="Browse"></span>
            <i class="fa fa-paperclip" aria-hidden="true"></i>
            <input name="image" type="file" ngf-select class="hide" ng-model="image" ngf-multiple="false" ng-file-select="onFileSelect($files, $invalidFiles)"
                ngf-pattern="'.png,.jpeg'" accept=".png,.jpeg" ng-change="updateField('image')"/>
        </label>
        <label ng-if="imageError" class="asterisk"><span translate="select_image"></span></label>
        <br>
        <span style="color:red">
            <span translate="Supported_format_image"></span>
        </span>
    </div>
    <div class="form-group">
        <input type="checkbox" ng-model="isSubCategory" value='false'>
        <label for="exampleInputEmail1">
            <span translate="is_subcategory"></span>
        </label>
    </div>
    <div class="form-group" ng-if="isSubCategory">
        <label for="exampleInputEmail1">
            <span translate="Parent_Category"></span>
        </label>
        <select name="parent-cat" class="form-control" ng-model="formData.parentId" ng-change="updateField('parent_category')" required>
            <option value="{{null}}">
                <span translate="Select_Category"></span>
            </option>
            <option value="{{cat.id}}" ng-repeat="cat in allCategories">{{cat.title}}</option>
        </select>
        <label ng-if="catError" class="asterisk"><span translate="choose_parent_category"></span></label>
    </div>
    <button type="submit" ng-click="saveCategory()" class="btn btn-primary">
        <span translate="Submit"></span>
    </button>
    <button type="submit" ui-sref="admin.category" class="btn btn-primary">
        <span translate="Back"></span>
    </button>
</form>