<div>
  <h3>
    Admin Users
  </h3>
  <a ui-sref="admin.add-admin-user" class="btn btn-link pull-right margin-top-10">Add Admin</a>
  <div class="row marginLeftRightnone">
    <table class="table table-condensed" id="adminUserTable">
      <thead>
        <tr>
          <th class="text-center"> S.No</th>
          <th class="text-center"> Name</th>
          <th class="text-center"> Phone Number</th>
          <th class="text-center"> Email</th>
          <th class="text-center"> Join on</th>
          <th class="text-center"> Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in allUsers">
          <td class="text-center">{{$index + 1}}</td>
          <td class="text-center">{{user.name || "NA"}}</td>
          <td class="text-center">{{user.phonenumber || "NA"}}</td>
          <td class="text-center">{{user.email || "NA"}}</td>
          <td class="text-center">{{user.createdAt | date: medium}}</td>
          <th class="text-center" ng-show="isRemovable(user.email)">
            <a href="javascript:void(0);" ng-click="removeAdminUser(user.id)">X</a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>