<h2><span translate="Agreement"></span></h2>
<div class="col-sm-5" ng-init="getFileNameAgreement()">
    <form name="agreement">
        <h5><span translate="Platform_Agreement"></span>: </h5>
        <label class="btn btn-default">
            <input class="hide" type="file" ngf-select ng-model="agreementFile" name="agreementFile" ngf-pattern="'.doc,.docx,.txt,.pdf'"
                accept=".doc,.docx,.txt,.pdf" ngf-max-size="10MB" /><span translate="Browse_File"></span>
        </label>
        <a ng-show="getNameAgreement" href="/uploads/{{getNameAgreement}}" target="_blank"><img src="/images/download.png" width="25"></a>
        <br>
        <span style="color:red"><span translate="Supported_format"></span></span>
       
        <p class="alert alert-info margin-top-10" ng-show="agreement.agreementFile.$error.required">*<span translate="Required"></span></p>
        <p class="alert alert-info margin-top-10" ng-show="agreement.agreementFile.$error.maxSize"> <span translate="File_too_large"></span> {{file.size / 1000000|number:1}}MB: max 10M</p>
        <div class="clearfix"></div>
        <button ng-disabled="agreement.agreementFile.$error.required || agreement.agreementFile.$error.maxSize" class="btn btn-success margin-top-10"
            type="submit" ng-click="platformAgreement()"><span translate="Save_Platform_Agreement"></span></button>
        <p ng-show="agreementFile">{{progress}}</p>
    </form>
</div>
<div class="col-sm-5">
    <form name="service">
        <h5><span translate="Service_Agreement"></span>: </h5>
        <label class="btn btn-default">
            <input class="hide" type="file" ngf-select ng-model="serviceFile" name="serviceFile" ngf-pattern="'.doc,.docx,.pdf,.txt'"
                accept=".doc,.docx,.txt,.pdf" ngf-max-size="10MB" /> <span translate="Browse_File"></span>
        </label>
        <a ng-show="getNameService" href="/uploads/{{getNameService}}" target="_blank"><img src="/images/download.png" width="25"></a>
        <br>
        <span style="color:red"><span translate="Supported_format"></span></span>
        
        <p class="alert alert-info margin-top-10" ng-show="service.serviceFile.$error.required"><span translate="Admin"></span>*<span translate="Required"></span></p>
        <p class="alert alert-info margin-top-10" ng-show="service.serviceFile.$error.maxSize"><span translate="Admin"></span><span translate="File_too_large"></span> {{file.size / 1000000|number:1}}MB: max 10M</p>
        <div class="clearfix"></div>
        <button class="btn btn-success margin-top-10" ng-disabled="service.serviceFile.$error.required || service.serviceFile.$error.maxSize"
            type="submit" ng-click="serviceAgreement()"><span translate="Save_Platform_Agreement"></span></button>
        <p ng-show="serviceFile">{{progress}}</p>
    </form>
</div>