<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="col-md-12 navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only"><span translate="Toggle_navigation"></span></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="admin"><span translate="CTO_Admin"></span></a>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                    <i class="fa fa-user fa-fw"></i>
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a ui-sref="admin.change-password">
                            <i class="fa fa-user fa-fw"></i><span translate="My_Profile"></span></a>
                    </li>
                    <!-- <li>
                        <a ui-sref="admin.change-password">
                            <i class="fa fa-lock fa-fw"></i>Change Password</a>
                    </li> -->
                    <li>
                        <a href="javascript:void(0)" ng-click="logout()">
                            <i class="fa fa-sign-out fa-fw"></i> <span translate="Logout"></span></a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
                    <span translate="Language"></span>({{selectedLang}})
                    <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li ng-click="changeLanguage('en')">
                        <a href="javascript:void(0)">
                        English
                    <li ng-click="changeLanguage('ch')">
                        <a href="javascript:void(0)">
                            中文 </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a ui-sref="admin">
                    <i class="fa fa-dashboard fa-fw"></i> <span translate="Dashboard"></span> </a>
            </li>
            <li>
                <a ui-sref="admin.admin-users">
                    <i class="fa fa-users fa-fw"></i> <span translate="Admin_Users"></span></a>
            </li>
            <li>
                <a ui-sref="admin.users">
                    <i class="fa fa-users fa-fw"></i> <span translate="Users"></span></a>
            </li>
            <li>
                <a ui-sref="admin.category">
                    <i class="fa fa-tasks"></i> <span translate="Categories"></span></a>
            </li>
            <li>
                <a ui-sref="admin.slider-images">
                    <i class="fa fa-picture-o"></i><span translate="Slider_Images"></span></a>
            </li>
            <li>
                <a ui-sref="admin.agreement-policy">
                    <i class="fa fa-wpforms" aria-hidden="true"></i><span translate="Agreement_policy"></span></a>
            </li>

            <li>
                <a ui-sref="admin.news-feeds">
                    <i class="fa fa-wpforms" aria-hidden="true"></i><span translate="News"></span></a>
            </li>
        </ul>
    </div>
</div>