<a ui-sref="admin.add-news-feeds" class="btn btn-link pull-right margin-top-10"><span translate="Add_News"></span></a>
<div class="margin-top-10 clearfix" ng-init="init()">
  <h3><span translate="News_List"></span></h3>
  <div>
    <div class="images-container margin-top-10">
      <div class="row">
        <div class="col-xs-18 col-sm-6 col-md-3" ng-repeat="news in newsFeeds">
          <div class="thumbnail">
            <img src="{{news.image ? news.image : 'http://placehold.it/500x300'}}" alt="" style="height: 200px; width: 100%">
            <div class="caption">
              <h4>{{ news['title' + langSyntax]}}</h4>
              <p>{{ news['description' + langSyntax]}}</p>
              <p>
                <a href="javascript:void(0)" ui-sref="admin.edit-news-feeds({id: news.id})" class="btn btn-info btn-xs" role="button"><span translate="Edit"></span></a>
                <a href="javascript:void(0);" ng-click="deleteNewsFeed(news)" class="btn btn-default btn-xs" role="button"><span translate="Delete"></span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- End row -->
    </div>