.language-nav{
	float: right !important;
}
.nav-div {
	padding: 5px;
}

.margin-top-10 {
	margin-top: 10px;
}

.category-image {
	height: 30px;
	text-align: center;
	width: 30px;
}

span.user-count {
    font-size: medium;
}

/* Admin dashboard */
.marginLeftRightnone{
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 20px;
}
.no-margin-bottom {
    margin-bottom: 0 !important;
}
input[aria-controls="seekerTable"] {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
input[aria-controls="providerTable"] {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select[aria-controls="seekerTable"] {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    float: left;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
select[aria-controls="providerTable"] {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    float: left;    
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#providerTable_length label {
    display: none;
}
#seekerTable_length label {
    display: none;
}
section {
    padding: 50px 0;
}
.bg-white {
    background: #fff !important;
}
section.dashboard-counts div[class*='col-'] .item {
    border-right: 1px solid #eee;
	padding: 15px 0;
	margin-top: 15px;
}
.align-items-center {
    -webkit-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.d-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

section.dashboard-counts .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    min-width: 40px;
    max-width: 40px;
    border-radius: 50%;
}

.bg-violet {
    background: #796AEE !important;
    color: #fff;
}
a, i, span {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
}

section.dashboard-counts .title {
    font-size: 1.1em;
    font-weight: 300;
    color: #777;
    margin: 0 20px;
}
a, i, span {
    display: inline-block;
    text-decoration: none;
    transition: all 0.3s;
}
section.dashboard-counts .progress {
    margin-top: 10px;
}

.bg-violet {
    background: #796AEE !important;
    color: #fff;
}

.progress-bar {
    height: 1rem;
    color: #fff;
    background-color: #0275d8;
}

.progress-bar.width {
	width: 100%;
	height: 4px;
}
section.dashboard-counts .number {
    font-size: 1.8em;
    font-weight: 300;
}

section.dashboard-counts .number strong {
    font-weight: 700;
}

.bg-red {
    background: #ff7676 !important;
    color: #fff;
}

*[class*="icon-"] {
    transform: translateY(3px);
}

.bg-green {
    background: #54e69d !important;
    color: #fff;
}

/* Admin dashboard end */

/* Slider images */

.profile-img-container {
    position: relative;
    display: inline-block; /* added */
    overflow: hidden; /* added */
}

.profile-img-container img {
    width:100%;
}
 /* remove if using in grid system */

.profile-img-container img:hover {
    opacity: 0.5
}

.profile-img-container:hover div {
    opacity: 1; /* added */
    top: 0; /* added */
    z-index: 500;
}
/* added */
.profile-img-container:hover div a {
    /* top: 50%; */
    right:-89%;
    top: 15px; 
    position: absolute;
    left: 0;
    /* right: 0; */
    color: red;
    transform: translateY(-50%);
    text-decoration: none;
}
.profile-img-container:hover div span.imageSliderDescription {
    top: 70%;
    position: absolute;
    left: 0;
    right: 0;
    color: white;
    transform: translateY(-50%);
    text-decoration: none;
    font-size: 20px;
}
/* added */
.profile-img-container div {
    display: block;
    position: absolute;
    top: -100%;
    opacity: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: inherit;
}

/* Slider images */

/* add category */
.category-img {
    margin: 25px 10px;
}
/* END add category */
.add-new-cat {
    margin: 15px;
}

.add-new-cat a {
    text-decoration: none !important;
    font-size: 16px;
}

.table-responsive div.alert-info {
    margin: 20px 0px;
}

.sidebar ul li a {
    padding: 20px;
}


.loader {
   margin-left: 45%;
}

.asterisk{
    color: rgb(238, 20, 20)
}
