<div>
  <h3>
    <a ui-sref="admin.users">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
    </span> {{userData.userProfile[0].name}}
  </h3>
  <div class="container-fluid well span6">
    <div class="row-fluid">
      <div class="span2">
        <img src={{userData.userProfile[0].avatarUrl}} class="img-circle">
      </div>

      <table class="table table-user-information">
        <tbody>
          <tr>
            <td><span translate="Nick_Nam"></span>e:</td>
            <td> {{userData.userProfile[0].nick_name}}</td>
          </tr>
          <tr>
            <td><span translate="Email"></span>: </td>
            <td>{{userData.userProfile[0].email}}</td>
          </tr>
          <tr>
            <td><span translate="Address"></span>:</td>
            <td>{{userData.userProfile[0].address}}</td>
          </tr>

          <tr>
            <tr>
              <td><span translate="City"></span>:</td>
              <td>{{userData.userProfile[0].city}}</td>
            </tr>
            <tr>
              <td><span translate="Country"></span>:</td>
              <td>{{userData.userProfile[0].country}}</td>
            </tr>
            <tr>
              <td><span translate="Contact_Number"></span>:</td>
              <td>{{userData.userProfile[0].phoneNumber}}</td>
            </tr>
            <tr>
              <td><span translate="Paypal_account"></span>:</td>
              <td>{{userData.userProfile[0].paypal_account}}
              </td>
            </tr>
            <tr>
              <td><span translate="Type"></span>:</td>
              <td>{{userData.isProvider ? 'Provider' : 'Seeker'}}
              </td>
            </tr>
            <tr>
              <td><span translate="created_At"></span>:</td>
              <td>{{userData.createdAt}}
              </td>
            </tr>
            <tr>
              <td><span translate="Updated_At"></span>:</td>
              <td>{{userData.updatedAt}}
              </td>
            </tr>
            <tr>
              <td><span translate="Description"></span>:</td>
              <td>{{userData.userProfile[0].desc}}
              </td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>