<div>
  <h3>
    <a ui-sref="admin.users">
      <span class="glyphicon glyphicon-arrow-left"></span>
    </a>
    </span> {{userDetailsData.userProfile[0].name}}
  </h3>
  <div class="container-fluid well span6">
    <div class="row-fluid">
      <div class="span2">
        <img src={{userDetailsData.userProfile[0].avatarUrl}} class="img-circle">
      </div>

      <table class="table table-user-information">
        <tbody>
          <tr>
            <td>Nick Name:</td>
            <td> {{userDetailsData.userProfile[0].nick_name}}</td>
          </tr>
          <tr>
            <td>Email: </td>
            <td>{{userDetailsData.userProfile[0].email}}</td>
          </tr>
          <tr>
            <td>Address:</td>
            <td>{{userDetailsData.userProfile[0].address}}</td>
          </tr>

          <tr>
            <tr>
              <td>City:</td>
              <td>{{userDetailsData.userProfile[0].city}}</td>
            </tr>
            <tr>
              <td>Country:</td>
              <td>{{userDetailsData.userProfile[0].country}}</td>
            </tr>
            <tr>
              <td>Contact Number:</td>
              <td>{{userDetailsData.userProfile[0].phoneNumber}}</td>
            </tr>
            <tr>
              <td>Paypal account:</td>
              <td>{{userDetailsData.userProfile[0].paypal_account}}
              </td>
            </tr>
            <tr>
              <td>Type:</td>
              <td>{{userDetailsData.isProvider ? 'Provider' : 'Seeker'}}
              </td>
            </tr>
            <tr>
              <td>created At:</td>
              <td>{{userDetailsData.createdAt}}
              </td>
            </tr>
            <tr>
              <td>Updated At:</td>
              <td>{{userDetailsData.updatedAt}}
              </td>
            </tr>
            <tr>
              <td>Description:</td>
              <td>{{userDetailsData.userProfile[0].desc}}
              </td>
            </tr>
        </tbody>
      </table>
    </div>

  </div>