<h2 ng-init="getNewsFeed()" ng-bind='isEdit() ? "Edit News Feed" : "Add News Feed"'></h2>
<div class="col-md-offset-2 col-md-8">
  <form ng-app="fileUpload" ng-submit="addNewsFeeds()" name="formData" novalidate>
    <div class="form-group">
      <label for="exampleInputEmail1"> <span translate="Title"></span><span class="asterisk">*</span></label>
      <input name="title" type="select" class="form-control" ng-model="newsFeedTitle" placeholder="Title" ng-model="title" required ng-change="updateField('title')">
      <label ng-if="titleError" class="asterisk"><span translate="enter_title"></span></label>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1"> <span translate="Title"></span>(ch)<span class="asterisk">*</span></label>
      <input name="title_ch" type="select" class="form-control" ng-model="newsFeedTitle_ch" placeholder="Title" ng-model="title" required ng-change="updateField('title_ch')">
      <label ng-if="titleError_ch" class="asterisk"><span translate="enter_title"></span></label>
    </div>



    <div class="form-group">
      <label for="exampleInputPassword1"><span translate="Description"></span><span class="asterisk">*</span></label>
      <!-- <input name="description" type="text" class="form-control" ng-model="newsFeedDescription" placeholder="Description" ng-model="description"> -->
      <textarea name="description" type="text" class="form-control" ng-model="newsFeedDescription" rows="5" placeholder="Description"
        ng-model="description" ng-change="updateField('desc')">{{description}}</textarea>
      <label ng-if="descError" class="asterisk"><span translate="enter_description"></span></label>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1"><span translate="Description"></span>(ch)<span class="asterisk">*</span></label>
      <!-- <input name="description" type="text" class="form-control" ng-model="newsFeedDescription" placeholder="Description" ng-model="description"> -->
      <textarea name="description_ch" type="text" class="form-control" ng-model="newsFeedDescription_ch" rows="5" placeholder="Description"
        ng-model="description" ng-change="updateField('desc_ch')">{{description}}</textarea>
      <label ng-if="descError_ch" class="asterisk"><span translate="enter_description"></span></label>
    </div>





    <div class="form-group">
      <div ng-show="ImageSrc" class="category-img">
        <img width="150" height="150" ng-src="{{ImageSrc}}" style="margin-bottom: 10px;" />
      </div>
      <label class="btn btn-default">
        <span translate="Browse"></span>
        <i class="fa fa-paperclip" aria-hidden="true"></i> <span class="asterisk">*</span>
        <input name="file" type="file" ngf-select class="hide" ng-model="image" ngf-multiple="false" ng-file-select="onFileSelect($files)"
          required ngf-pattern="'.png,.jpeg'" accept=".png,.jpeg" ng-change="updateField('img')"/>
      </label>
      <label ng-if="imageError" class="asterisk"><span translate="select_image"></span></label>

      <br>
      <span style="color:red"><span translate="Supported_format_image"></span></span>
    </div>
    <div class="form-group">
      <button ng-disabled="disableSave" type="submit" class="btn btn-primary"><span translate="Save"></span></button>
    </div>
  </form>
</div>