<div>
    <h3>
        <span translate="Users"></span>
        <span class="pull-right user-count">
            <span> <span translate="Total_Providers"></span>: {{allProviderUsers ? allProviderUsers.length : 0}}</span>
            <br>
            <span class="margin-top-10"><span translate="Total_Seekers"></span>  : {{allSeekerUsers ? allSeekerUsers.length : 0}} </span>
        </span>
    </h3>

    <ul class="nav nav-tabs">
        <li ng-class="{active:isSet(1)}">
            <a href ng-click="setTab(1)"><span translate="Providers"></span></a>
        </li>
        <li ng-class="{active:isSet(2)}">
            <a href ng-click="setTab(2)"><span translate="Seekers"></span></a>
        </li>
    </ul>
    <div class="row marginLeftRightnone" ng-show="isSet(1)">
        <table class="table table-condensed" id="providerTable">
            <thead>
                <tr>
                    <th class="text-center"> <span translate="S_No"></span></th>
                    <th class="text-center"> <span translate="Name"></span></th>
                    <th class="text-center"> <span translate="Phone_Number"></span></th>
                    <th class="text-center"> <span translate="Email"></span></th>
                    <th class="text-center"> <span translate="Type"></span></th>
                    <th class="text-center"> <span translate="Join_on"></span></th>
                    <th class="text-center"> <span translate="Action"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in allProviderUsers">
                    <td class="text-center">{{$index + 1}}</td>
                    <td class="text-center">{{user.userProfile[0].name || "NA"}}</td>
                    <td class="text-center">{{user.userProfile[0].phoneNumber}}</td>
                    <td class="text-center">{{user.userProfile[0].email || "NA"}}</td>
                    <td class="text-center">{{user.isProvider ? 'Provider' : 'Seeker'}}</td>
                    <td class="text-center">{{user.createdAt | date: medium}}</td>
                    <td class="text-center"><a href ng-click="showDetails(user)"><span translate="Details"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row marginLeftRightnone" ng-show="isSet(2)">
        <table class="table table-condensed" id="seekerTable" >
            <thead>
                <tr>
                    <th class="text-center"> <span translate="S_No"></span></th>
                    <th class="text-center"> <span translate="Name"></span></th>
                    <th class="text-center"> <span translate="Phone_Number"></span></th>
                    <th class="text-center"> <span translate="Email"></span></th>
                    <th class="text-center"> <span translate="Type"></span></th>
                    <th class="text-center"> <span translate="Join_on"></span></th>
                    <th class="text-center"> <span translate="Action"></span></th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="user in allSeekerUsers">
                    <td class="text-center">{{$index +1}}</td>
                    <td class="text-center">{{user.userProfile[0].name || "NA"}}</td>
                    <td class="text-center">{{user.userProfile[0].phoneNumber}}</td>
                    <td class="text-center">{{user.userProfile[0].email || "NA"}}</td>
                    <td class="text-center">{{user.isProvider ? 'Provider' : 'Seeker'}}</td>
                    <td class="text-center">{{user.createdAt | date: medium}}</td>
                    <td class="text-center"><a href ng-click="showDetails(user)"><span translate="Details"></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>